/node_modules
/public/storage
tests/
/storage/logs
/storage/framework
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

# Netbeans editor specific
nbproject/
/nbproject/private/

# Eclipse editor specific
.buildpath
.project
.settings/
